:root {
  --white-text-color: #fff;
  --title-text-color: #D41443;
  --pretitle-text-color: #FFA5BA;
  --main-bg-color: #FFF5F6;
  --mobile-menu-bg-color: #E17992;
  --hero-bg-color: #FFB8CA;
  --main-font: "DM Sans", sans-serif;
  --title-font: "Titan One", sans-serif;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

button {
  margin: 0;
  padding: 0;
  border-width: 0;
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--main-font);
}

.container {
  margin: 0 auto;
  padding: 0 20px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.title {
  font-family: var(--title-font);
  text-transform: uppercase;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  color: var(--title-text-color);
  background-color: var(--white-text-color);
}
.button:hover, .button:focus {
  color: var(--white-text-color);
  background-color: var(--title-text-color);
}

.hero {
  position: relative;
  height: 502px;
  padding-top: 194px;
  background-color: var(--hero-bg-color);
  background-repeat: no-repeat;
  background-position: top 92px right 32px, top 83px right 0;
}
@media (min-width: 768px) {
  .hero {
    height: 416px;
    padding-top: 102px;
  }
}
.webp .hero {
  background-image: url(../images/mobile/hero-img@1x.webp), url(../images/mobile/hero-circle@1x.webp);
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .webp .hero {
    background-image: url(../images/mobile/hero-img@2x.webp), url(../images/mobile/hero-circle@2x.webp);
  }
}
.no-webp .hero {
  background-image: url(../images/mobile/hero-img@1x.png), url(../images/mobile/hero-circle@1x.png);
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .no-webp .hero {
    background-image: url(../images/mobile/hero-img@2x.png), url(../images/mobile/hero-circle@2x.png);
  }
}
.hero__title {
  width: 218px;
  font-size: 26px;
  line-height: 1.154;
  letter-spacing: 0.04em;
  margin-bottom: 20px;
  color: var(--white-text-color);
}
.hero__title-accent {
  font-size: 48px;
  line-height: 0.965;
  color: var(--title-text-color);
}

.hero-list {
  display: flex;
  gap: 8px;
}
.hero-list__link {
  padding: 7px 14px;
  border-radius: 20px;
  font-size: 8px;
  line-height: 1.25;
}

.description {
  display: none;
}
@media (min-width: 768px) {
  .description {
    display: block;
    width: 114px;
    margin-top: 61px;
    margin-left: 184px;
  }
  .description__text {
    font-size: 8px;
    line-height: 1.5;
    margin-bottom: 7px;
    color: var(--white-text-color);
  }
  .description__button {
    width: 18px;
    height: 18px;
    border-radius: 50%;
  }
}/*# sourceMappingURL=main.css.map */