.button {
  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 700;

  // width: 160px;
  // height: 40px;
  // border: 1px solid var(--accent-color);
  // border-radius:  50% 0 50%;

  // @include fonts(12px, 600, 1.333, 0.09em);
  // text-transform: uppercase;
  // color: var(--white-text-color);
  // background-color: transparent;

    color: var(--title-text-color);
    background-color: var(--white-text-color) ;

  // transition: color 250ms, background-color 250ms;

  &:hover, &:focus {
    color: var(--white-text-color);
    background-color: var(--title-text-color);
  }
}